<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/bk/bootstrap.min.css">
    <link href="/static/bk/bk.css" rel="stylesheet">
    <link href="/static/bk/iconfont.css" rel="stylesheet">
    <link href="/static/bk/sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bk/common.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/index.js"></script>

    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        .bk-nav-user {
            color: #bfcbda !important;
        }

        .layui-nav-bar {
            display: none !important;
        }

        a:hover {
            text-decoration: none !important;
        }

        dd {
            padding: 0 3px 0 3px;
            line-height: 25px;
        }

        dd a:hover {
            background: #e4effe !important;
            color: #4693fe !important;
            cursor: pointer;
        }
    </style>

</head>
<body>
<!-- 头部 -->
<nav class="bk-horz-nav bk-horz-nav-min">
    <div class="bk-nav-logo fl">
        <img src="/static/images/hx_logo_red.png" style="height:35px;margin-left:-25px" alt="加载失败">
    </div>
    <div class="slide-switch" style="display:inline-block;overflow:hidden;">
        <i class="icon bk-icon icon-dedent f14 slide-i" style="margin-left:15px;font-size:20px;line-height:50px"></i>
    </div>
    <div class="project-name" style="">
        天上人间
    </div>

    <div class="bk-nav-user fr" style="padding:0 10px 0 10px;">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="javascript:" style="color: #000">王君伟</a>
                <dl class=" layui-nav-child" style="left: 5px;min-width: 105%;">
                    <dd class="menu" style="text-align: left">
                        <a style="padding:0;font-size:12px" onclick="logout()">
                            <i class="layui-icon layui-icon-logout" style="color:red;margin-right:3px;"></i>
                            注销
                        </a>
                    </dd>
                    <dd class="menu" style="text-align: left;">
                        <a style="padding:0;font-size:12px">
                            <i class="layui-icon layui-icon-username"
                               style="color:#2e58ff;margin-right:3px;"></i>
                            修改资料
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
        <img src="/static/images/img_1.png" style="position:relative;top:-43px;float:left;right:-10px" alt="加载失败"/>

    </div>
</nav>
<!-- 下部 -->
<div class="bk-layout bk-layout-has-sidebar" style="height:calc(100% - 50px);overflow:initial;">
    <!-- 左侧导航栏 -->
    <div class="bk-sidebar slide-close" style="margin-top:-1px;height:calc(100% + 1px)">
        <div style="height:50px;border-bottom:1px solid #363b47;text-align:center;line-height:60px;color:#fff">
        </div>
        <div class="nav-list">
            <ul>
                <li class="menu-li" th:each="oneMenu : ${ menus }">
                    <a href="javascript:">
                                <span class="icon-box">
                                    <i th:class="${oneMenu.icon}"></i>
                                </span>
                        <span class="nav-name" th:text="${oneMenu.mname}"></span>
                    </a>
                    <div class="flex-subnavs">
                        <!-- 这里的title的值是菜单名称，tab标签要用，url是菜单的url -->
                        <a class="second_menu" th:each="secondMenu : ${oneMenu.children}" th:url="${secondMenu.url}" th:title="${secondMenu.mname}">
                            <i></i>
                            <span>[[${secondMenu.mname}]]</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="copyright" style="color: #fff">
            <p>Copyright &copy; 2012-2017 蓝鲸智云.</p>
            <br>
            <span>All Rights Reserved.</span>
        </div>
    </div>

    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">

    <!-- 中间主页面 -->
    <div class="page-content" style="overflow:auto;">
        <div class="layui-tab layui-tab-brief" lay-filter="demo" lay-allowClose="true"
             style="height:100%;overflow:hidden;">
            <!-- 面包屑 -->
            <!--<div style="height: 30px;background-color: #fff;border-bottom: 1px solid #ccc;">
                <span class="layui-breadcrumb" style="line-height:30px;margin-left:15px;">
                    <a>首页</a>
                    <a>国际新闻</a>
                    <a>亚太地区</a>
                    <a><cite>正文</cite></a>
                </span>
            </div>-->
            <ul class="layui-tab-title" style="height:auto;min-height: 40px;">

            </ul>

            <div class="layui-tab-content" style="height:calc(100% - 49px);overflow:auto;">

            </div>
        </div>
    </div>
</div>

</body>
</html>
<script src="/static/bk/nav.js"></script>
