<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/js/role.js"></script>
    <style>
        .layui-table-cell {
            height: 30px !important;
        }
        label {
            width: auto !important;
            margin-bottom: 0 !important;
        }
    </style>

</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header" style="padding: 10px 15px;height:auto">
            <form class="layui-form" onsubmit="return false">
                <div class="layui-form-item" style="margin-bottom: 0">
                    <div class="layui-inline" style="margin-bottom: 0;margin-right:0;">
                        <label class="layui-form-label" style="width:auto">角色名称&nbsp;:</label>
                        <div class="layui-input-inline" style="">
                            <input type="text" id="roleName" name="roleName" autocomplete="off" class="layui-input" placeholder="输入角色名称查询" />
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-bottom: 0">
                        <div class="layui-input-inline" style="">
                            <button type="button" class="layui-btn" id="search-role" style="margin-top:-1px;height:36px;line-height:36px">
                                <i class="layui-icon layui-icon-search" style="font-size:14px;margin-left:-2px"></i>
                                <span>查询</span>
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary" id="reset-role" style="margin-top:-1px;height:36px;line-height:36px">
                                <i class="layui-icon layui-icon-refresh" style="font-size:14px;margin-left:-2px"></i>
                                <span>重置</span>
                            </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <div style="">
                <!-- 角色表格 -->
                <table id="role_table" lay-filter="roleTable"></table>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="barDemo">
    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>
        <span>编辑</span>
    </button>
    <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>
        <span>删除</span>
    </button>
    <button type="button" class="layui-btn layui-btn-sm" lay-event="permission">
        <i class="layui-icon layui-icon-auz"></i>
        <span>权限分配</span>
    </button>
</script>

</body>
</html>